body {
    background: linear-gradient(rgba(0, 0, 0, 0.567),rgba(0, 0, 0, 0.536)), url('http://i.imgur.com/aTURT51.jpg') no-repeat;
    background-size: cover;
    background-position: center fixed;
    font-family: cursive, sans-serif;    
    min-height: 100vh;
    min-width: 320px;
    color: #ebe0c5;
    text-align: center;
    text-transform: capitalize;
    max-height: 100vh;
    /* background-color: black; */
}

h1{
    margin-bottom: 50px;
    text-decoration: none;
    color: #ebe0c5;
}

h3{
    margin-top: 50px;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 4em;
    font-family: 'Spectral', serif;
}

/* Characters */
.char-div{
    border-radius: 50px;
    width: 50%;
    height: 200px;
    text-align: center;
    background: black;
    background-size: cover;
    background-position: center;
    font-size: 1.4em;
    line-height: 1.4;
    border: outset 1px black;
}

.char-balrog{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('http://eskipaper.com/images/scary-monster-wallpaper-1.jpg');
    background-size: cover;
    background-position: left top;
    
}
.char-smeagol{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('https://cdna.artstation.com/p/assets/images/images/004/532/170/large/eduardo-ruiz-urrejola-gollum-pose09.jpg?1484348343');
    background-size: cover;
    background-position: center;
}
.char-gandalf{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../images/gandalf.jpg');
    background-size: cover;
    background-position: center;

}
.char-sauron{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../images/sauron.jpg');
    background-size: cover;
    background-position: center;

}

.storyline {
    font-size: 30px;
    text-transform: none;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 40px;
}

/* Your Character Section */
.your-character>.char-div{
    width: 100%;
}

/* Fight Section */
.fight-button{
    margin-top: 60px;
}

.sheild {
    color: rgb(163, 133, 78);
    margin: 20px 0 50px 0;
    font-size: 9em;
    display: block;
}

/* Defender Section */
.opponent>.char-div{
    width: 100%;
}

.result-note {
    margin-top: 160px;
}

